{% extends "pages/matches_base.html" %}
{% load static %}
{% block title %}Matches{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="icon_logo">
        <div class="teams_icon">
        {% if user.user_profile.user_type == 'organizer' %}
        <button>
        <a href="/teams/add_team"><img src="{% static 'images/image_insert.png' %}" class="image_insert"/></a>
        </button>
        {% endif %}
        {% for team in team_list %}
            <img src="{{ team.team_image.url }}" class="icon"/>
        {% endfor %}
        </div>
        <div class="logo">
        <div class="user">
            <b class="username">{{username}}</b>
            <a href="{% url 'logout' %}" class="logout">          Log Out</a>
        </div>
        <b class="logo_name">V.League 1</b>
        <b class="season">Season 2022 - 2023</b>
        <img src="{% static 'images/Premiere-League.png' %}" class="league-image"/>
        </div>
    </div>
    <div class="menu">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
        </label>
        <ul class="nav-items">
        <li><a href="/">Home</a></li>
        <li><a href="/matches">Matches</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/players">Players</a></li>
        <li><a href="/managers">Managers</a></li>
        <li><a href="/league">League</a></li>
        </ul>
    </div>
    <div class="content">
        <form id="scoreForm" method="POST" action="">
            {% csrf_token %}
            
            <label for="id_team1pts">Team 1 Points:</label>
            <input type="number" name="team1pts" id="id_team1pts">
            
            <label for="id_team2pts">Team 2 Points:</label>
            <input type="number" name="team2pts" id="id_team2pts">
            <button type="submit" class="btn btn-primary">Add Score</button>
        </form>
        <script>
            // Bắt sự kiện khi nút Submit được bấm
            document.getElementById('scoreForm').addEventListener('submit', function(e) {
              e.preventDefault(); // Ngăn chặn hành vi mặc định của nút Submit
          
              // Thực hiện gửi dữ liệu form bằng AJAX
              var formData = new FormData(this);
              var xhr = new XMLHttpRequest();
              xhr.open('POST', this.action, true);
              xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
              xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                  // Xử lý thành công, chuyển hướng trang
                  window.location.href = '{% url 'record_result' fixture.fixtureid %}';
                }
              };
              xhr.send(formData);
            });
        </script>
    </div>
{% else %} 
    <script>
        window.location.replace("/login/");
    </script>
{% endif %}
{% endblock %}